#map {
    width: 30em;
    height: 200px;
}

#managerinfo {
    width: 40em;
    height: auto;
}

.mapcard {
    width: 30em;
}

.center-align {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 1.2em;
}

.container {
    padding-top: 1.2em;
}

.tenant-card {
    width: 100%;
}

body {
    background-image: url("https://media-cdn.tripadvisor.com/media/photo-w/11/d8/a6/ca/santa-monica-pier-at.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    
 }
 
 .container {
     opacity: .95;
 }
