.form-inline {
    display: block !important;
}

.col-centered {
    float: none;
    margin-right: auto;
    margin-left: auto;
  }

.checkbox label, .radio label {
    padding-left: 0px !important;
}