.card-header-vu {
    background: linear-gradient(to bottom, #4eb5e5 0%,#389ed5 100%); /* W3C */
    border: none;
    border-radius: 0px;
    position: relative;
    border-bottom: 2px solid #2b8bc6;
    color: #fbfbfb;
    font-weight: 600;
    font-family: 'Krub', sans-serif;
    text-shadow: 1px 1px 1px rgba(0,0,0,.4);
    font-size: 15px;
    text-align: left;
    text-indent: 5px;
    box-shadow: 0px 2px 0px 0px rgba(0,0,0,.2);
    padding: 5px;
}
.button1 {
    width: 130px;
    height: 40px;
    background: linear-gradient(to bottom, #4eb5e5 0%,#389ed5 100%); /* W3C */
    border: none;
    border-radius: 5px;
    position: relative;
    border-bottom: 4px solid #2b8bc6;
    color: #fbfbfb;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
    text-shadow: 1px 1px 1px rgba(0,0,0,.4);
    font-size: 15px;
    text-align: left;
    text-indent: 5px;
    box-shadow: 0px 3px 0px 0px rgba(0,0,0,.2);
    /* cursor: pointer; */

/* Just for presentation */  
    display: block;
    margin-left: 33px;
    margin-bottom: 5px;
}
.button2 {
    width: 30px;
    height: 30px;
    background: linear-gradient(to bottom, #4eb5e5 0%,#389ed5 100%); /* W3C */
    border: none;
    border-radius: 5px;
    position: relative;
    border-bottom: 4px solid #2b8bc6;
    color: #fbfbfb;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
    text-shadow: 1px 1px 1px rgba(0,0,0,.4);
    font-size: 15px;
    text-align: left;
    text-indent: 5px;
    box-shadow: 0px 3px 0px 0px rgba(0,0,0,.2);
    /* cursor: pointer; */

/* Just for presentation */  
    display: block;
    margin-bottom: opx;
}
.button1:active {
    box-shadow: 0px 2px 0px 0px rgba(0,0,0,.2);
    top: 1px;
}

.button1:after {
    content: "";
    width: 0;
    height: 0;
    display: block;
    border-top: 20px solid #187dbc;
    border-bottom: 20px solid #187dbc;
    border-left: 16px solid transparent;
    border-right: 20px solid #187dbc;
    position: absolute;
    opacity: 0.6; 
    right: 0;
    top: 0;
    border-radius: 0 5px 5px 0;  
}
.filtersubmit {
    position: relative;
    z-index: 1;
    left: -25px;
    top: 1px;
    color: #7B7B7B;
    width: 0;
}
#map {
    width: 90%;
    height: 200px;
    margin: 0px 63px 10px 33px;
    padding:0px;
}




.center-align {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 1.2em;
}


/* .tenant-card {
    width: 100%;
} */

body {
    background-image: url("https://media-cdn.tripadvisor.com/media/photo-w/11/d8/a6/ca/santa-monica-pier-at.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    
 }
 
 /* .container {
     opacity: .95;
 } */
.form-group {
    margin-left: 35px;
    margin-right: 10px;
}
.inputfield_vu{
    height: 25px;
    width:100%;
    color: rgb(105, 105, 105);
}
.propertyselect {
    margin-left: 13px;
}
#techicon {
    width: 80%;
    margin-top: 30px;
    margin-left: 33px;
}
#form_message{
    height: 120px;
    background-color: #d3e3ec
}
#checkbox {
    display: inline-block;
    zoom: 1.5;
    position: relative;
    top: 3px;
}
.form_vu{
    background: rgba(255, 255, 255, 0.8);
    margin-top: 40px;
    min-width: 600px;
}
#managerinfobox {
    margin: 7px auto 0px;
    padding-left: 15px;
}
/* table.table_vu tbody tr td#info {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    line-height: 0.7;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
} */
td {
    padding:0px 4px;
}
#managerInfo {
    font-size: 0.9em;
    width: 100%;
    position: relative;
    /* left: -20px; */
    line-height: 1.1;
    color: rgb(90, 88, 88);
    margin-bottom: 15px;
}
#table_vu{
    border: 2px blue solid;
}
.text_prompt{
    font-family: 'Krub', sans-serif;
    color:#187dbc;
    font-size: 1.1em;
}
.manager_name {
    font-weight: bold;
    font-size: 1em;
    margin-bottom: 4px;
}
.prop_manager_container{
    position: relative;
    left:-10px;
}
@media only screen and (min-width:0) and (max-width: 576px) { 
    #techicon {
        width: 20%;
        margin-left: 33px;;
    }
    .prop_manager_container{
        left: 33px;
    }

}