.card-header-vu {
    background: linear-gradient(to bottom, #4eb5e5 0%,#389ed5 100%); /* W3C */
  border: none;
  border-radius: 5px;
  position: relative;
  border-bottom: 4px solid #2b8bc6;
  color: #fbfbfb;
  font-weight: 600;
  font-family: 'Open Sans', sans-serif;
  text-shadow: 1px 1px 1px rgba(0,0,0,.4);
  font-size: 15px;
  text-align: left;
  text-indent: 5px;
  box-shadow: 0px 3px 0px 0px rgba(0,0,0,.2);
}
button {
  width: 130px;
  height: 40px;
  background: linear-gradient(to bottom, #4eb5e5 0%,#389ed5 100%); /* W3C */
  border: none;
  border-radius: 5px;
  position: relative;
  border-bottom: 4px solid #2b8bc6;
  color: #fbfbfb;
  font-weight: 600;
  font-family: 'Open Sans', sans-serif;
  text-shadow: 1px 1px 1px rgba(0,0,0,.4);
  font-size: 15px;
  text-align: left;
  text-indent: 5px;
  box-shadow: 0px 3px 0px 0px rgba(0,0,0,.2);
  /* cursor: pointer; */

/* Just for presentation */  
  display: block;
  margin-bottom: 20px;
}
button:active {
  box-shadow: 0px 2px 0px 0px rgba(0,0,0,.2);
  top: 1px;
}

button:after {
  content: "";
  width: 0;
  height: 0;
  display: block;
  border-top: 20px solid #187dbc;
  border-bottom: 20px solid #187dbc;
  border-left: 16px solid transparent;
  border-right: 20px solid #187dbc;
  position: absolute;
  opacity: 0.6; 
  right: 0;
  top: 0;
  border-radius: 0 5px 5px 0;  
}
.filtersubmit {
    position: relative;
    z-index: 1;
    left: -25px;
    top: 1px;
    color: #7B7B7B;
    width: 0;
}
#map {
    width: 100%;
    height: 200px;
}

#managerinfo {
    width: 40em;
    height: auto;
}


.center-align {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 1.2em;
}

.container {
    padding-top: 1.2em;
}

.tenant-card {
    width: 100%;
}

body {
    background-image: url("https://media-cdn.tripadvisor.com/media/photo-w/11/d8/a6/ca/santa-monica-pier-at.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    
 }
 
 .container {
     opacity: .95;
 }
.form-group {
    margin-left: 35px;
}
.inputfield_vu{
    height: 25px;
    width:100%;
}
#techicon {
    width: 80%;
    margin-top: 30px;
}
#form_message{
    height: 120px;
    background-color: #d3e3ec
}
#checkbox {
    display: inline-block;
}
.navbar-brand{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 23px;
    margin-left: 20%;
    background-color: #187dbc;
    padding: 14px 10px 0px 10px;
}
.navbar {
    padding: 0px;
    border: 0px;
}
#navbarNav {
    margin-right: 20%;
}
#table_vu{
    border: 2px blue solid;
}
#managerinfobox {
    margin: 20px auto;
    padding-left: 10px;
}